@{
  Layout = "_Layout";
}

@model PasswordManager.Models.Password
@using PasswordManager.Models

<h2>@Html.DisplayFor(model => model.Site)</h2>
<h3>@Html.DisplayFor(model => model.SiteUsername)</h3>
<h3>@Html.DisplayFor(model => model.SitePassword)</h3>
<h3>@Html.DisplayFor(model => model.SiteEmail)</h3>
