<!-- @{
  Layout = "_Layout";
}

@using PasswordManager.Models
@model PasswordManager.Models.Password


<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Password or Password", "Edit", new { id = Model.PasswordId })</p>
<p>@Html.ActionLink("Add a Tag", "AddTag", new { id = Model.PasswordId })</p>
<p>@Html.ActionLink("Delete Password", "Delete", new { id = Model.PasswordId })</p> -->
