@{
  Layout = "_Layout";
}

@using PasswordManager.Models;

<h1>Accounts </h1>

@if(@Model.Count == 0)
{
  <h2>There are no current accounts saved</h2>
}

<ul>
  @foreach(Password password in Model)
  {
    <li>@Html.ActionLink($"{password.Site}", "Details", new {id = password.PasswordId})</li>
  }
</ul>

<p>@Html.ActionLink("Create an entry", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
