@{
  Layout = "_Layout";
}

@using PasswordManager.Models;

<h1>Welcome to the To Do List!</h1>

<hr>

<h4>Passwords</h4>
@if (Model["passwords"].Length == 0)
{
  <p>No passwords have been added yet!</p>
}
<ul>
  @foreach (Password password in Model["passwords"])
  {
    <li>@Html.ActionLink(@password.Site, "Details", "Passwords", new { id = @password.PasswordId})</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage passwords", "Index", "Passwords")</p>